In [3]:
import pandas as pd

df = pd.DataFrame(
    {
        "Name": [
            "pradeep deshmukh",
            "ms seema chaudary",
            "ramshankar prasad"],
        "Age": [22, 28, 21], 
        "Gender": ["male", "male", "female"],
    }
)

In [5]:
df.columns = ["name of a person", "Age of person", "Gender"]
df

    name of a person  Age of person  Gender
0   pradeep deshmukh             22    male
1  ms seema chaudary             28    male
2  ramshankar prasad             21  female

In [ ]:
df = pd.DataFrame(
   ...:     {
   ...:         "Name": [
   ...:             "Braund, Mr. Owen Harris",
   ...:             "Allen, Mr. William Henry",
   ...:             "Bonnell, Miss. Elizabeth",
   ...:         ],
   ...:         "Age": [22, 35, 58],
   ...:         "Sex": ["male", "male", "female"],
   ...:     }
   ...: )

In [ ]:
df

                       Name  Age     Sex
0   Braund, Mr. Owen Harris   22    male
1  Allen, Mr. William Henry   35    male
2  Bonnell, Miss. Elizabeth   58  female

In [ ]:
data["Age"]

0    22
1    28
2    21
Name: Age, dtype: int64

In [ ]:
df["Sex"]

0      male
1      male
2    female
Name: Sex, dtype: object

In [ ]:
df["Age"].min()

22

In [ ]:
data["Age"].sum()

71

In [ ]:
data.describe()

             Age
count   3.000000
mean   23.666667
std     3.785939
min    21.000000
25%    21.500000
50%    22.000000
75%    25.000000
max    28.000000

In [ ]:
import pandas as pd
Proj1 = pd.read_excel("Downloads/KGP/Project sem1/project sheet.xlsx")

In [ ]:
Proj1

,DATA NO,LEAD,P WAVE MAGNITUDE,Q WAVE MAGNITUDE,R WAVE MAGNITUDE,S WAVE MAGNITUDE,T WAVE MAGNITUDE,QRS INTERVAL,PP INTERVAL,RR INTERVAL,AGE,GENDER,ARRYHTHMIA,Unnamed: 13
0,100M,ML2,0.0826,-0.1616,0.9023,-0.2283,0.0476,0.1141,0.7694,1.5385,69,M,A,NaN
1,101M,ML2,0.0957,-0.0512,0.5203,-0.1148,0.0953,0.1179,0.9028,1.8182,75,F,A,NaN
2,105M,ML2,0.1235,0.0423,0.8950,-0.2267,0.0792,0.1235,0.8333,1.4286,73,F,A,NaN
3,111M,ML2,0.3951,0.1445,0.7492,-0.3576,0.2550,0.1336,0.8333,1.6670,47,F,A,NaN
4,112M,ML2,0.1487,-0.0031,0.6918,-0.3729,0.1914,0.1122,0.7028,1.4286,54,M,A,NaN
5,113M,ML2,0.0246,-0.0307,0.4519,-0.2294,0.3339,0.1213,1.0528,2.2222,24,F,A,NaN
6,106M,ML2,0.1392,-0.0712,0.9787,-0.3243,0.3123,0.1147,0.9333,2.0000,24,F,A,NaN
7,114M,ML2,0.2407,0.0436,0.8620,-0.1375,0.0872,0.1201,1.1222,2.2220,72,F,A,NaN
8,115M,ML2,0.0451,-0.2194,0.9349,-0.4294,0.0376,0.1253,1.0917,2.0000,39,F,A,NaN
9,116M,ML2,0.0600,-0.2594,0.9127,-0.3000,0.1492,0.1218,0.8611,1.2286,68,M,A,NaN
10,117M,ML2,0.1333,-0.0085,0.9299,-0.9800,0.6341,0.1423,1.1750,2.2200,69,M,A,NaN
11,118M,ML2,0.3494,-0.1024,0.7856,-0.8024,0.1552,0.1618,0.8811,1.6667,69,M,A,NaN
12,119M,ML2,0.1736,0.0512,0.7546,-0.1049,0.1318,0.1336,0.9333,2.0000,51,F,A,NaN
13,121M,ML2,0.2459,0.2561,0.6292,-0.0910,0.0318,0.1446,1.0250,2.0000,83,F,A,NaN
14,122M,ML2,0.1026,-0.1521,0.9154,-0.1553,-0.0089,0.1333,0.6806,1.3300,51,M,A,NaN
15,123M,ML2,0.1000,-0.0200,0.9200,-0.4300,0.1500,0.1400,1.2000,2.5000,63,F,A,NaN
16,124M,ML2,0.1400,-0.0300,0.8100,-0.2200,0.0300,0.1500,1.1000,2.5000,77,M,A,NaN
17,201M,ML2,0.0200,-0.0260,0.8300,-0.1200,0.0500,0.1240,0.7860,1.4300,68,M,A,NaN
18,202M,ML2,0.0700,0.0200,0.8890,-0.1150,0.1422,0.1309,1.1300,2.5000,68,M,A,NaN
19,203M,ML2,0.1900,-0.1120,0.6500,-0.2500,0.3600,0.1260,0.3200,1.0000,43,M,A,NaN
20,205M,ML2,0.0400,-0.0800,0.8800,-0.1300,0.0500,0.1167,0.6694,1.4286,59,M,A,NaN
21,207M,ML2,0.0900,-0.0500,0.4100,0.6800,0.2000,0.1500,0.6700,2.0000,89,F,A,NaN
22,209M,ML2,0.0300,-0.0900,0.8300,0.5340,0.1465,0.1160,0.3200,1.3300,62,M,A,NaN
23,210M,ML2,0.0400,0.0040,0.8029,-0.2229,0.0717,0.1234,0.5800,1.2500,89,M,A,NaN
24,212M,ML2,0.1100,-0.1100,0.8100,-0.3900,0.2575,0.1100,0.7167,1.3300,32,F,A,NaN
25,213M,ML2,0.1800,-0.0900,0.8500,-0.4100,0.2800,0.1200,0.5200,1.1100,61,M,A,NaN
26,214M,ML2,0.0400,0.0100,0.8500,-0.2100,0.1100,0.1300,0.5800,1.6700,53,M,A,NaN
27,215M,ML2,-0.0040,-0.1100,0.7500,-0.7100,0.3000,0.1200,0.5700,1.1100,81,M,A,NaN
28,217M,ML2,-0.0700,-0.0800,0.8900,-0.8100,0.4700,0.1715,0.8300,1.6700,65,M,A,NaN
29,221M,ML2,0.0400,0.0100,0.8700,-0.1700,0.1700,0.1200,1.2300,1.3300,83,M,A,NaN
30,16265M,ECG1,0.0392,-0.2368,0.9611,-0.1559,-0.0200,0.2700,0.6400,0.6500,32,M,N,NaN
31,16272M,ECG1,0.0900,-0.0010,0.8000,-0.3500,0.1400,0.2800,0.9800,0.4800,20,F,N,NaN
32,16273M,ECG1,0.0800,-0.2000,0.9300,-0.1100,-0.0010,0.2700,0.6200,0.6100,28,F,N,NaN
33,16420M,ECG1,0.0650,-0.0430,0.7700,-0.5200,0.0040,0.2700,0.6600,0.6500,38,F,N,NaN
34,16483M,ECG1,0.3900,-0.0800,0.4700,-0.1400,0.1900,0.2300,0.7800,0.8300,42,M,N,NaN
35,16539M,ECG1,0.0300,-0.1500,0.8800,-0.3400,0.1200,0.2640,0.7300,0.7400,35,F,N,NaN
36,16773M,ECG1,0.0140,-0.1500,0.9300,-0.3400,0.2200,0.2800,0.8900,0.8300,26,M,N,NaN
37,16786M,ECG1,0.0300,-0.1830,0.9500,-0.1090,0.1200,0.2900,0.7800,0.7900,32,F,N,NaN
38,17052M,ECG1,0.0600,0.0240,0.9100,-0.3500,-0.0200,0.2900,0.8800,0.8900,45,F,N,NaN
39,17453M,ECG1,0.0680,-0.0200,0.8100,-0.3100,-0.0300,0.2700,0.7300,0.7400,32,F,N,NaN
40,18184M,ECG1,0.0400,-0.0800,0.8700,-0.2700,0.1400,0.2800,0.6900,0.6700,34,F,N,NaN
41,19088M,ECG1,0.1400,-0.1900,0.4300,-0.0900,0.2500,0.2300,0.7100,0.5100,41,F,N,NaN
42,19090M,ECG1,0.2260,-0.1700,0.4400,-0.1600,0.2280,0.2300,0.7100,0.5200,45,F,N,NaN
43,19093M,ECG1,0.1100,-0.2400,0.3800,-0.0400,0.4100,0.2300,0.2900,0.5000,34,M,N,NaN
44,19140M,ECG1,0.1290,-0.2400,0.4500,-0.0200,0.3500,0.2300,0.5100,0.2800,38,F,N,NaN
45,19830M,ECG1,0.0500,-0.2800,0.4300,0.1800,0.4700,0.2300,0.5100,0.2900,50,F,N,NaN
46,16265M,ECG2,0.2200,-0.2800,0.1500,-0.0350,0.2500,0.3040,0.6200,0.6400,32,M,N,NaN
47,16272M,ECG2,0.4500,0.1700,0.4600,-0.7400,0.4200,0.2900,0.9600,0.9700,20,F,N,NaN
48,16420M,ECG2,0.6500,0.6400,0.8100,0.5800,0.6000,0.2670,0.6700,0.6600,38,F,N,NaN
49,16483M,ECG2,0.7000,0.7030,0.8800,0.6500,0.6600,0.2700,0.6200,0.6300,42,M,N,NaN
50,18184M,ECG2,0.0100,-0.0500,0.8600,-0.0050,0.2400,0.2670,0.6800,0.6700,34,F,N,NaN
51,19088M,ECG2,0.0900,-0.2300,0.4100,0.0300,0.3400,0.2270,0.7200,0.5200,41,F,N,NaN
52,19830M,ECG2,0.1800,-0.2300,0.4600,-0.1100,0.3200,0.2400,0.7100,0.5100,50,F,N,NaN
53,19140M,ECG2,0.1270,-0.2700,0.4500,-0.0180,0.3400,0.2300,0.5100,0.2900,38,F,N,NaN
54,19090M,ECG2,0.1400,-0.1900,0.4500,-0.0570,0.2900,0.2310,0.5200,0.2800,45,F,N,NaN

In [ ]:
Proj1['QRS INTERVAL'].max()

0.304

In [ ]:
Proj1['DATA NO'][Proj1['GENDER']=='F']

1       101M
2       105M
3       111M
5       113M
6       106M
7       114M
8       115M
12      119M
13      121M
15      123M
21      207M
24      212M
31    16272M
32    16273M
33    16420M
35    16539M
37    16786M
38    17052M
39    17453M
40    18184M
41    19088M
42    19090M
44    19140M
45    19830M
47    16272M
48    16420M
50    18184M
51    19088M
52    19830M
53    19140M
54    19090M
Name: DATA NO, dtype: object

In [ ]:
Proj1.fillna(0, inplace= True)

In [ ]:
data = pd.read_csv("Downloads/dataset/Amazon_Best_Seller_2021_June.csv")

In [ ]:
data

,ASIN,Category,Product Link,No of Sellers,Rank,Rating,Reviews Count,Price
0,B079QHML21,Electronics,https://www.amazon.com/gp/offer-listing/B079QH...,1 Sellers,#1,4.7,"640,721",$39.99
1,B07FZ8S74R,Electronics,https://www.amazon.com/gp/offer-listing/B07FZ8...,1 Sellers,#2,4.7,"854,114",$34.99
2,B07XJ8C8F5,Electronics,https://www.amazon.com/gp/offer-listing/B07XJ8...,1 Sellers,#3,4.7,"267,821",$44.99
3,B07WVFCVJN,Electronics,https://www.amazon.com/gp/offer-listing/B07WVF...,27 Sellers,#4,4.8,"114,267",$28.48
4,B08YT2N5SX,Electronics,https://www.amazon.com/gp/offer-listing/B08YT2...,1 Sellers,#5,4.7,"267,821",$49.99
...,...,...,...,...,...,...,...,...
702,B007DW6F34,Toys & Games,https://www.amazon.com/gp/offer-listing/B007DW...,10 Sellers,#95,4.6,"8,795",$6.99
703,B01N16VX79,Toys & Games,https://www.amazon.com/gp/offer-listing/B01N16...,5 Sellers,#96,4.7,649,$16.99
704,B09197N995,Toys & Games,https://www.amazon.com/gp/offer-listing/B09197...,1 Sellers,#97,4.8,"9,121",$8.99
705,B015CCR1FW,Toys & Games,https://www.amazon.com/gp/offer-listing/B015CC...,26 Sellers,#98,4.7,"18,449",$19.99
706,B07TS96J7Q,Toys & Games,https://www.amazon.com/gp/offer-listing/B07TS9...,2 Sellers,#99,4.7,"12,902",$24.99

In [ ]:
new_data = data.replace({
    'No of Sellers': '[A-Za-z]',
    'Rank': '#',
    'Price': '[$]',
},'',regex=True)
new_data

,ASIN,Category,Product Link,No of Sellers,Rank,Rating,Reviews Count,Price
0,B079QHML21,Electronics,https://www.amazon.com/gp/offer-listing/B079QH...,1,1,4.7,"640,721",39.99
1,B07FZ8S74R,Electronics,https://www.amazon.com/gp/offer-listing/B07FZ8...,1,2,4.7,"854,114",34.99
2,B07XJ8C8F5,Electronics,https://www.amazon.com/gp/offer-listing/B07XJ8...,1,3,4.7,"267,821",44.99
3,B07WVFCVJN,Electronics,https://www.amazon.com/gp/offer-listing/B07WVF...,27,4,4.8,"114,267",28.48
4,B08YT2N5SX,Electronics,https://www.amazon.com/gp/offer-listing/B08YT2...,1,5,4.7,"267,821",49.99
...,...,...,...,...,...,...,...,...
702,B007DW6F34,Toys & Games,https://www.amazon.com/gp/offer-listing/B007DW...,10,95,4.6,"8,795",6.99
703,B01N16VX79,Toys & Games,https://www.amazon.com/gp/offer-listing/B01N16...,5,96,4.7,649,16.99
704,B09197N995,Toys & Games,https://www.amazon.com/gp/offer-listing/B09197...,1,97,4.8,"9,121",8.99
705,B015CCR1FW,Toys & Games,https://www.amazon.com/gp/offer-listing/B015CC...,26,98,4.7,"18,449",19.99
706,B07TS96J7Q,Toys & Games,https://www.amazon.com/gp/offer-listing/B07TS9...,2,99,4.7,"12,902",24.99

In [ ]:
rows, columns = data.shape

In [ ]:
rows

707

In [ ]:
columns

8

In [ ]:
data.head(5)

,ASIN,Category,Product Link,No of Sellers,Rank,Rating,Reviews Count,Price
0,B079QHML21,Electronics,https://www.amazon.com/gp/offer-listing/B079QH...,1 Sellers,#1,4.7,"640,721",$39.99
1,B07FZ8S74R,Electronics,https://www.amazon.com/gp/offer-listing/B07FZ8...,1 Sellers,#2,4.7,"854,114",$34.99
2,B07XJ8C8F5,Electronics,https://www.amazon.com/gp/offer-listing/B07XJ8...,1 Sellers,#3,4.7,"267,821",$44.99
3,B07WVFCVJN,Electronics,https://www.amazon.com/gp/offer-listing/B07WVF...,27 Sellers,#4,4.8,"114,267",$28.48
4,B08YT2N5SX,Electronics,https://www.amazon.com/gp/offer-listing/B08YT2...,1 Sellers,#5,4.7,"267,821",$49.99

In [ ]:
data[3:8]

,ASIN,Category,Product Link,No of Sellers,Rank,Rating,Reviews Count,Price
3,B07WVFCVJN,Electronics,https://www.amazon.com/gp/offer-listing/B07WVF...,27 Sellers,#4,4.8,"114,267",$28.48
4,B08YT2N5SX,Electronics,https://www.amazon.com/gp/offer-listing/B08YT2...,1 Sellers,#5,4.7,"267,821",$49.99
5,B07TMJ1R3X,Electronics,https://www.amazon.com/gp/offer-listing/B07TMJ...,1 Sellers,#6,4.6,"100,278",$89.99
6,B07X6C9RMF,Electronics,https://www.amazon.com/gp/offer-listing/B07X6C...,1 Sellers,#7,4.5,"111,650",$34.99
7,B08BX7FV5L,Electronics,https://www.amazon.com/gp/offer-listing/B08BX7...,1 Sellers,#8,4.5,"1,228",$149.99

In [ ]:
data.columns

Index(['ASIN', 'Category', 'Product Link', 'No of Sellers', 'Rank', 'Rating',
       'Reviews Count', 'Price'],
      dtype='object')

In [ ]:
type(data['No of Sellers'])

pandas.core.series.Series

In [ ]:
data[['Rank','Rating','Price']]

    Rank  Rating    Price
0     #1     4.7  $39.99
1     #2     4.7  $34.99
2     #3     4.7  $44.99
3     #4     4.8  $28.48
4     #5     4.7  $49.99
..   ...     ...      ...
702  #95     4.6   $6.99
703  #96     4.7  $16.99
704  #97     4.8   $8.99
705  #98     4.7  $19.99
706  #99     4.7  $24.99

[707 rows x 3 columns]

In [ ]:
data['Price'].max()

'$99.99 '

In [ ]:
data.describe()

           Rating
count  707.000000
mean     4.593494
std      0.284117
min      1.400000
25%      4.500000
50%      4.700000
75%      4.800000
max      5.000000

In [ ]:
data[data.Rating>= 4.9]

,ASIN,Category,Product Link,No of Sellers,Rank,Rating,Reviews Count,Price
45,B08J61NFNR,Electronics,https://www.amazon.com/gp/offer-listing/B08J61...,6 Sellers,#47,4.9,"44,087",$395.00
49,B095NWYQBC,Electronics,https://www.amazon.com/gp/offer-listing/B095NW...,1 Sellers,#51,5.0,4,$9.98
77,B08J65DST5,Electronics,https://www.amazon.com/gp/offer-listing/B08J65...,6 Sellers,#79,4.9,"44,087",$299.00
82,B08YMBQJ49,Electronics,https://www.amazon.com/gp/offer-listing/B08YMB...,1 Sellers,#85,4.9,"1,575",$329.99
92,B08J5Q255V,Electronics,https://www.amazon.com/gp/offer-listing/B08J5Q...,5 Sellers,#95,4.9,"44,087",$299.00
...,...,...,...,...,...,...,...,...
515,B095NWYQBC,Camera & Photo,https://www.amazon.com/gp/offer-listing/B095NW...,1 Sellers,#4,5.0,4,$9.98
623,B07P6MZPK3,Toys & Games,https://www.amazon.com/gp/offer-listing/B07P6M...,9 Sellers,#12,4.9,"31,390",$9.99
629,B00000IV35,Toys & Games,https://www.amazon.com/gp/offer-listing/B00000...,54 Sellers,#18,4.9,"15,592",$8.99
642,B078VVLQ6J,Toys & Games,https://www.amazon.com/gp/offer-listing/B078VV...,108 Sellers,#32,4.9,"10,955",$69.99
677,B00000IVAK,Toys & Games,https://www.amazon.com/gp/offer-listing/B00000...,56 Sellers,#70,4.9,"17,829",$12.29

In [ ]:
data.set_index('ASIN', inplace= True)

In [ ]:
data

,Category,Product Link,No of Sellers,Rank,Rating,Reviews Count,Price
ASIN,,,,,,,
B079QHML21,Electronics,https://www.amazon.com/gp/offer-listing/B079QH...,1 Sellers,#1,4.7,"640,721",$39.99
B07FZ8S74R,Electronics,https://www.amazon.com/gp/offer-listing/B07FZ8...,1 Sellers,#2,4.7,"854,114",$34.99
B07XJ8C8F5,Electronics,https://www.amazon.com/gp/offer-listing/B07XJ8...,1 Sellers,#3,4.7,"267,821",$44.99
B07WVFCVJN,Electronics,https://www.amazon.com/gp/offer-listing/B07WVF...,27 Sellers,#4,4.8,"114,267",$28.48
B08YT2N5SX,Electronics,https://www.amazon.com/gp/offer-listing/B08YT2...,1 Sellers,#5,4.7,"267,821",$49.99
...,...,...,...,...,...,...,...
B007DW6F34,Toys & Games,https://www.amazon.com/gp/offer-listing/B007DW...,10 Sellers,#95,4.6,"8,795",$6.99
B01N16VX79,Toys & Games,https://www.amazon.com/gp/offer-listing/B01N16...,5 Sellers,#96,4.7,649,$16.99
B09197N995,Toys & Games,https://www.amazon.com/gp/offer-listing/B09197...,1 Sellers,#97,4.8,"9,121",$8.99
B015CCR1FW,Toys & Games,https://www.amazon.com/gp/offer-listing/B015CC...,26 Sellers,#98,4.7,"18,449",$19.99
B07TS96J7Q,Toys & Games,https://www.amazon.com/gp/offer-listing/B07TS9...,2 Sellers,#99,4.7,"12,902",$24.99

In [ ]:
data.reset_index(inplace=True)

In [ ]:
data

,ASIN,Category,Product Link,No of Sellers,Rank,Rating,Reviews Count,Price
0,B079QHML21,Electronics,https://www.amazon.com/gp/offer-listing/B079QH...,1 Sellers,#1,4.7,"640,721",$39.99
1,B07FZ8S74R,Electronics,https://www.amazon.com/gp/offer-listing/B07FZ8...,1 Sellers,#2,4.7,"854,114",$34.99
2,B07XJ8C8F5,Electronics,https://www.amazon.com/gp/offer-listing/B07XJ8...,1 Sellers,#3,4.7,"267,821",$44.99
3,B07WVFCVJN,Electronics,https://www.amazon.com/gp/offer-listing/B07WVF...,27 Sellers,#4,4.8,"114,267",$28.48
4,B08YT2N5SX,Electronics,https://www.amazon.com/gp/offer-listing/B08YT2...,1 Sellers,#5,4.7,"267,821",$49.99
...,...,...,...,...,...,...,...,...
702,B007DW6F34,Toys & Games,https://www.amazon.com/gp/offer-listing/B007DW...,10 Sellers,#95,4.6,"8,795",$6.99
703,B01N16VX79,Toys & Games,https://www.amazon.com/gp/offer-listing/B01N16...,5 Sellers,#96,4.7,649,$16.99
704,B09197N995,Toys & Games,https://www.amazon.com/gp/offer-listing/B09197...,1 Sellers,#97,4.8,"9,121",$8.99
705,B015CCR1FW,Toys & Games,https://www.amazon.com/gp/offer-listing/B015CC...,26 Sellers,#98,4.7,"18,449",$19.99
706,B07TS96J7Q,Toys & Games,https://www.amazon.com/gp/offer-listing/B07TS9...,2 Sellers,#99,4.7,"12,902",$24.99

In [ ]:
data.set_index('No of Sellers',inplace=True)

In [ ]:
data

,ASIN,Category,Product Link,Rank,Rating,Reviews Count,Price
No of Sellers,,,,,,,
1 Sellers,B079QHML21,Electronics,https://www.amazon.com/gp/offer-listing/B079QH...,#1,4.7,"640,721",$39.99
1 Sellers,B07FZ8S74R,Electronics,https://www.amazon.com/gp/offer-listing/B07FZ8...,#2,4.7,"854,114",$34.99
1 Sellers,B07XJ8C8F5,Electronics,https://www.amazon.com/gp/offer-listing/B07XJ8...,#3,4.7,"267,821",$44.99
27 Sellers,B07WVFCVJN,Electronics,https://www.amazon.com/gp/offer-listing/B07WVF...,#4,4.8,"114,267",$28.48
1 Sellers,B08YT2N5SX,Electronics,https://www.amazon.com/gp/offer-listing/B08YT2...,#5,4.7,"267,821",$49.99
...,...,...,...,...,...,...,...
10 Sellers,B007DW6F34,Toys & Games,https://www.amazon.com/gp/offer-listing/B007DW...,#95,4.6,"8,795",$6.99
5 Sellers,B01N16VX79,Toys & Games,https://www.amazon.com/gp/offer-listing/B01N16...,#96,4.7,649,$16.99
1 Sellers,B09197N995,Toys & Games,https://www.amazon.com/gp/offer-listing/B09197...,#97,4.8,"9,121",$8.99
26 Sellers,B015CCR1FW,Toys & Games,https://www.amazon.com/gp/offer-listing/B015CC...,#98,4.7,"18,449",$19.99
2 Sellers,B07TS96J7Q,Toys & Games,https://www.amazon.com/gp/offer-listing/B07TS9...,#99,4.7,"12,902",$24.99

In [ ]:
data.loc['10 Sellers']

,ASIN,Category,Product Link,Rank,Rating,Reviews Count,Price
No of Sellers,,,,,,,
10 Sellers,B08DFCWVZ4,Electronics,https://www.amazon.com/gp/offer-listing/B08DFC...,#59,4.4,"12,973",$299.95
10 Sellers,B081RJ8DW1,Electronics,https://www.amazon.com/gp/offer-listing/B081RJ...,#62,4.4,"21,080",$99.99
10 Sellers,B08DFCWVZ4,Electronics,https://www.amazon.com/gp/offer-listing/B08DFC...,#59,4.4,"12,973",$299.95
10 Sellers,B081RJ8DW1,Electronics,https://www.amazon.com/gp/offer-listing/B081RJ...,#62,4.4,"21,080",$99.99
10 Sellers,B086KXKXKW,"Clothing, Shoes & Jewelry",https://www.amazon.com/gp/offer-listing/B086KX...,#59,4.6,"29,802",$16.95
10 Sellers,B00Z0UWV98,Video Games,https://www.amazon.com/gp/offer-listing/B00Z0U...,#47,4.6,"8,661",$223.99
10 Sellers,B00YXO5U40,Video Games,https://www.amazon.com/gp/offer-listing/B00YXO...,#72,4.4,"32,015",$24.95
10 Sellers,B081RJ8DW1,Camera & Photo,https://www.amazon.com/gp/offer-listing/B081RJ...,#5,4.4,"21,080",$99.99
10 Sellers,B08GH9KL4M,Camera & Photo,https://www.amazon.com/gp/offer-listing/B08GH9...,#37,4.5,"3,662",$24.99
10 Sellers,B00005C5H4,Toys & Games,https://www.amazon.com/gp/offer-listing/B00005...,#17,4.8,"63,879",$4.99
10 Sellers,B007DW6F34,Toys & Games,https://www.amazon.com/gp/offer-listing/B007DW...,#95,4.6,"8,795",$6.99

In [ ]:
weather_data= [
    ('1/2/2014',32,8,'snow'),
    ('2/4/2016',35,6,'rainy'),
    ('2/2/2016',40,7,'sunny')
]

data = pd.DataFrame(weather_data, columns = ["day","temp","wind","event"])
data

        day  temp  wind  event
0  1/2/2014    32     8   snow
1  2/4/2016    35     6  rainy
2  2/2/2016    40     7  sunny

In [ ]:
# DF = pd.read_csv("Downloads\dataset\Real estate.csv", header=None)
DF = pd.read_csv("Downloads\dataset\Real estate.csv")

In [ ]:
DF.set_index('X1 transaction date',inplace=True)
DF

,No,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area,area of house
X1 transaction date,,,,,,,,
2012.917,1,32.0,84.87882,10,24.98298,121.54024,37.9,3036.437385
2012.917,2,19.5,306.59470,9,24.98034,121.53951,42.2,3036.098283
2013.583,3,13.3,561.98450,5,24.98746,121.54391,47.3,3037.073589
2013.500,4,13.3,561.98450,5,24.98746,121.54391,54.8,3037.073589
2012.833,5,5.0,390.56840,5,24.97937,121.54245,43.1,3036.053829
...,...,...,...,...,...,...,...,...
2013.000,410,13.7,4082.01500,0,24.94155,121.50381,15.4,3030.493352
2012.667,411,5.6,90.45606,9,24.97433,121.54310,50.0,3035.457489
2013.250,412,18.8,390.96960,7,24.97923,121.53986,40.6,3035.972117
2013.000,413,8.1,104.81010,5,24.96674,121.54067,52.5,3034.474307
2013.500,414,6.5,90.45606,9,24.97433,121.54310,63.9,3035.457489

In [ ]:
DF.describe

<bound method NDFrame.describe of                       No  X2 house age  \
X1 transaction date
2012.917               1          32.0
2012.917               2          19.5
2013.583               3          13.3
2013.500               4          13.3
2012.833               5           5.0
...                  ...           ...
2013.000             410          13.7
2012.667             411           5.6
2013.250             412          18.8
2013.000             413           8.1
2013.500             414           6.5

                     X3 distance to the nearest MRT station  \
X1 transaction date
2012.917                                           84.87882
2012.917                                          306.59470
2013.583                                          561.98450
2013.500                                          561.98450
2012.833                                          390.56840
...                                                     ...
2013.000                                         4082.01500
2012.667                                           90.45606
2013.250                                          390.96960
2013.000                                          104.81010
2013.500                                           90.45606

                     X4 number of convenience stores  X5 latitude  \
X1 transaction date
2012.917                                          10     24.98298
2012.917                                           9     24.98034
2013.583                                           5     24.98746
2013.500                                           5     24.98746
2012.833                                           5     24.97937
...                                              ...          ...
2013.000                                           0     24.94155
2012.667                                           9     24.97433
2013.250                                           7     24.97923
2013.000                                           5     24.96674
2013.500                                           9     24.97433

                     X6 longitude  Y house price of unit area  area of house
X1 transaction date
2012.917                121.54024                        37.9    3036.437385
2012.917                121.53951                        42.2    3036.098283
2013.583                121.54391                        47.3    3037.073589
2013.500                121.54391                        54.8    3037.073589
2012.833                121.54245                        43.1    3036.053829
...                           ...                         ...            ...
2013.000                121.50381                        15.4    3030.493352
2012.667                121.54310                        50.0    3035.457489
2013.250                121.53986                        40.6    3035.972117
2013.000                121.54067                        52.5    3034.474307
2013.500                121.54310                        63.9    3035.457489

[414 rows x 8 columns]>

In [ ]:
book = pd.read_csv("Downloads\dataset\Book.csv")

In [ ]:
book

      area     price  No of rooms  Age of House  No of floars Locality
0   2600.0  550000.0          5.0          20.0           2.0    urban
1   3000.0  565000.0          4.0          21.0           1.0    rural
2   3200.0  610000.0          6.0          25.0           2.0    urban
3   3600.0  680000.0          8.0          10.0           3.0    urban
4   4000.0  725000.0          NaN           5.0           1.0    urban
5   4400.0  750000.0          6.0           8.0           3.0      NaN
6   4200.0  650000.0          8.0           NaN           3.0    urban
7   4150.0  645000.0          4.0          12.0           NaN    rural
8   3500.0       NaN          4.0          15.0           1.0    rural
9      NaN  500000.0          NaN          22.0           4.0    urban
10  4050.0  805000.0          6.0           4.0           2.0      NaN

In [ ]:
new_B = book.fillna(0)
new_B

      area     price  No of rooms  Age of House  No of floars Locality
0   2600.0  550000.0          5.0          20.0           2.0    urban
1   3000.0  565000.0          4.0          21.0           1.0    rural
2   3200.0  610000.0          6.0          25.0           2.0    urban
3   3600.0  680000.0          8.0          10.0           3.0    urban
4   4000.0  725000.0          0.0           5.0           1.0    urban
5   4400.0  750000.0          6.0           8.0           3.0        0
6   4200.0  650000.0          8.0           0.0           3.0    urban
7   4150.0  645000.0          4.0          12.0           0.0    rural
8   3500.0       0.0          4.0          15.0           1.0    rural
9      0.0  500000.0          0.0          22.0           4.0    urban
10  4050.0  805000.0          6.0           4.0           2.0        0

In [ ]:
new_B = book.fillna({
    'price': 550000,
    'No of rooms':6,
    'Age of House':5,
    'No of floars':1,
    'Locality':'rural'
})
new_B # using dictionary to handle missing values

      area     price  No of rooms  Age of House  No of floars Locality
0   2600.0  550000.0          5.0          20.0           2.0    urban
1   3000.0  565000.0          4.0          21.0           1.0    rural
2   3200.0  610000.0          6.0          25.0           2.0    urban
3   3600.0  680000.0          8.0          10.0           3.0    urban
4   4000.0  725000.0          6.0           5.0           1.0    urban
5   4400.0  750000.0          6.0           8.0           3.0    rural
6   4200.0  650000.0          8.0           5.0           3.0    urban
7   4150.0  645000.0          4.0          12.0           1.0    rural
8   3500.0  550000.0          4.0          15.0           1.0    rural
9      NaN  500000.0          6.0          22.0           4.0    urban
10  4050.0  805000.0          6.0           4.0           2.0    rural

In [ ]:
new_b = book.fillna(method='ffill') #forward fill method
# new_b = book.fillna(method='bfill') is backward fill

In [ ]:
new_b

      area     price  No of rooms  Age of House  No of floars Locality
0   2600.0  550000.0          5.0          20.0           2.0    urban
1   3000.0  565000.0          4.0          21.0           1.0    rural
2   3200.0  610000.0          6.0          25.0           2.0    urban
3   3600.0  680000.0          8.0          10.0           3.0    urban
4   4000.0  725000.0          8.0           5.0           1.0    urban
5   4400.0  750000.0          6.0           8.0           3.0    urban
6   4200.0  650000.0          8.0           8.0           3.0    urban
7   4150.0  645000.0          4.0          12.0           3.0    rural
8   3500.0  645000.0          4.0          15.0           1.0    rural
9   3500.0  500000.0          4.0          22.0           4.0    urban
10  4050.0  805000.0          6.0           4.0           2.0    urban

In [ ]:
new_b = book.fillna(method='bfill',axis = 'columns')
# new_b = book.fillna(method='bfill',limit = 1) setting copying value limit
new_b

        area     price No of rooms Age of House No of floars Locality
0     2600.0  550000.0         5.0         20.0          2.0    urban
1     3000.0  565000.0         4.0         21.0          1.0    rural
2     3200.0  610000.0         6.0         25.0          2.0    urban
3     3600.0  680000.0         8.0         10.0          3.0    urban
4     4000.0  725000.0         5.0          5.0          1.0    urban
5     4400.0  750000.0         6.0          8.0          3.0      NaN
6     4200.0  650000.0         8.0          3.0          3.0    urban
7     4150.0  645000.0         4.0         12.0        rural    rural
8     3500.0       4.0         4.0         15.0          1.0    rural
9   500000.0  500000.0        22.0         22.0          4.0    urban
10    4050.0  805000.0         6.0          4.0          2.0      NaN

In [ ]:
new_B = book.interpolate()
# new_B = book.interpolate(method = 'time') gives values considering time also 
new_B

      area     price  No of rooms  Age of House  No of floars Locality
0   2600.0  550000.0          5.0          20.0           2.0    urban
1   3000.0  565000.0          4.0          21.0           1.0    rural
2   3200.0  610000.0          6.0          25.0           2.0    urban
3   3600.0  680000.0          8.0          10.0           3.0    urban
4   4000.0  725000.0          7.0           5.0           1.0    urban
5   4400.0  750000.0          6.0           8.0           3.0      NaN
6   4200.0  650000.0          8.0          10.0           3.0    urban
7   4150.0  645000.0          4.0          12.0           2.0    rural
8   3500.0  572500.0          4.0          15.0           1.0    rural
9   3775.0  500000.0          5.0          22.0           4.0    urban
10  4050.0  805000.0          6.0           4.0           2.0      NaN

In [ ]:
new_S = book.dropna(thresh=6) # threshold gives the no of valid values we want to consider 
new_S

     area     price  No of rooms  Age of House  No of floars Locality
0  2600.0  550000.0          5.0          20.0           2.0    urban
1  3000.0  565000.0          4.0          21.0           1.0    rural
2  3200.0  610000.0          6.0          25.0           2.0    urban
3  3600.0  680000.0          8.0          10.0           3.0    urban

In [ ]:
import numpy as np
new_D = book.replace(6,np.NaN)
# new_D = book.replace([6,8,5],np.NaN) will replace all 6,8,5 values with NaN
new_D

      area     price  No of rooms  Age of House  No of floars Locality
0   2600.0  550000.0          5.0          20.0           2.0    urban
1   3000.0  565000.0          4.0          21.0           1.0    rural
2   3200.0  610000.0          NaN          25.0           2.0    urban
3   3600.0  680000.0          8.0          10.0           3.0    urban
4   4000.0  725000.0          NaN           5.0           1.0    urban
5   4400.0  750000.0          NaN           8.0           3.0      NaN
6   4200.0  650000.0          8.0           NaN           3.0    urban
7   4150.0  645000.0          4.0          12.0           NaN    rural
8   3500.0       NaN          4.0          15.0           1.0    rural
9      NaN  500000.0          NaN          22.0           4.0    urban
10  4050.0  805000.0          NaN           4.0           2.0      NaN